/* *{
    margin: 0%;
    padding: 0%;
} */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    
}
.name-color{
    color: orange;
}

.section-1{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    
}

.half-width{
    width: 50%;
    padding-left: 6%;
}

.half-width img{
    width: 78%;
}

.hire-btn{
    text-decoration: none;
    /* background-color: orange; */
    background-image: linear-gradient(orange, tomato);
    padding: 10px 37px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.dream{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right -2% bottom 55%;
    padding-bottom: 150px;
}

.experience-sec{
    display: flex;
    padding-bottom: 120px;
    
}

.exp-box{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding: 20px;
   
}

.heading-exp{
    padding-left: 20px;
}

.exp-area{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 55%;
}

#web-exp-box1{
    border-left: 7px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1 ;
}

#web-exp-box2{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1 ;
}